<h1> <%= @profile.name %> </h1>
<p> <%= @profile.essay1 %> </p>
<p>Your link:  <%= link_to "/"+@profile.url, profile_path(@profile.url) %> </p><br>

<button id="add-comment" class="regular-button">Add Comment</button>
<button id="improve-profiles" class="regular-button">Skip this one</button>
<br><a href="/">Return</a>
