<div class="container">

<div class="masthead">
  <p>Welcome!</p>
</div>

<div class="create-new-profile">
  <h3>Enter profile essays and get feedback!</h3>
  <button id="create-profile" class="regular-button main-buttons">Submit profile essays to receive feedback</button>
  <br>
  <button id="improve-profiles" class="regular-button main-buttons">Improve other essays and earn points</button>

  <div id="view-here"></div>

</div>
